.advantage {
  &__wrapper {
    color: #ffffff;
    background-color: #81b3d2;
  }

  &__wrapper--png {
    background-image: url("../../img/mobile/index/advantages-section/first-block.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }


  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin: 55px auto 15px;
  }

  &__number {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 15px;
  }

  &__description {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 39px;
    width: 282px;
  }

  &__image {
    object-fit: contain;
    object-position: left;
    width: 320px;
  }
}
