.advantage {
  display: block;
  position: relative;

  &:nth-child(2) {
    @media (min-width: @tablet-width) {
      .advantage__image-wrapper {
        order: -1;
      }
    }
  }

  @media (min-width: @tablet-width) {
    min-width: 256px;
  }

  @media (min-width: @desktop-width) {
    min-width: 400px;
  }
}


.advantage--line-decoration::before {
  @media (max-width: @mobile-width-only) {
    content: "";
    position: absolute;
    background-color: #d6d6d6;
    width: 280px;
    height: 1px;
    top: -2px;
    left: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.advantage:not(:first-child):not(:nth-child(2)) {
  background-color: #eeeeee;

  @media (max-width: @mobile-width-only) {
    min-height: 168px;
  }
}

.advantage__wrapper {
  color: #ffffff;
  background-color: #81b3d2;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
  }
}

.advantage__wrapper--background-svg {
  background-image: url("../img/index/advantages-section/first-advantage-background.svg");
  background-repeat: no-repeat;
  margin-top: 13px;

  @media (min-width: @tablet-width) {
    margin: 0;
    background-image: none;
  }
}

.advantage__text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (max-width: @mobile-width-only) {
    width: 280px;
  }

  @media (min-width: @tablet-width) {
    width: 200px;
  }

  @media (min-width: @desktop-width) {
    min-width: 293px;
  }
}

.advantage__text--accent {
  @media (min-width: @tablet-width) {
    min-width: 192px;
    margin-left: 28px;
    margin-right: 28px;
  }

  @media (min-width: @desktop-width) {
    min-width: 295px;
    margin-left: 53px;
    margin-right: 53px;
  }
}

.advantage__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 11px;

  @media (max-width: @mobile-width-only) {
    margin: 24px auto 12px;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
    width: 130px;
  }
}

.advantage__number {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px;
  color: #333333;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: #333333;
    top: 10px;
    left: 115px;

    @media (min-width: @desktop-width) {
      top: 10px;
      left: 120px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: #333333;
    top: 10px;
    right: 115px;

    @media (min-width: @desktop-width) {
      top: 10px;
      right: 120px;
    }
  }

  @media (max-width: @mobile-width-only) {
    margin: 0 0 16px;
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 25px;
  }
}

.advantage__number--accent-color {
  color: #ffffff;

  &::before {
    content: "";
    background-color: #ffffff;
  }

  &::after {
    content: "";
    background-color: #ffffff;
  }
}

.advantage__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  color: #333333;

  @media (min-width: @desktop-width) {
    margin: 0 auto 24px;
  }
}

.advantage__description--accent-color {
  color: #ffffff;
}

.advantage__image {
  display: block;
  object-fit: cover;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 100%;
  }
}

.advantage__image--wrapper {
  width: 100%;
}

// city

.advantage__title--city-indent {
  @media (max-width: @mobile-width-only) {
    padding-top: 71px;
    margin: 0 auto 11px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 46px;
    margin-bottom: 14px;
  }
}

.advantage__title--city-width {
  width: 200px;

  @media (min-width: @tablet-width) {
    width: 150px;
  }
}

.advantage__number--city-indent {
  margin: 0 0 20px;
}

.advantage__description--city-width {
  @media (min-width: @desktop-width) {
    width: 270px;
  }
}

.advantage__description--city-indent {
  margin: 0 auto 39px;
}

// bridge

.advantage__text--bridge-indent {
  @media (min-width: @tablet-width) {
    margin-top: 4px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 13px;
  }
}

.advantage__title--bridge-indent {
  margin: 40px auto 11px;

  @media (min-width: @tablet-width) {
    margin-top: 39px;
  }
}

.advantage__title--bridge--width {
  width: 220px;

  @media (min-width: @tablet-width) {
    width: 180px;
  }
}

.advantage__title--bridge-space {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.advantage__description--bridge-width {
  @media (min-width: @tablet-width) {
    width: 165px;
  }

  @media (min-width: @desktop-width) {
    width: 220px;
  }
}

.advantage__description--bridge-indent {
  margin: 0 auto 36px;
}

.advantage__number--indent-bridge {
  @media (max-width: @mobile-width-only) {
    margin: 0 0 17px;
  }
}

// square
.advantage__text--square-indent {
  @media (min-width: @tablet-width) {
    margin-top: 42px;
    margin-bottom: 41px;
  }
}

// street
.advantage__description--street-width {
  width: 210px;

  @media (min-width: @tablet-width) {
    width: 140px;
  }

  @media (min-width: @desktop-width) {
    width: 260px;
  }
}

.advantage__text--street-indent {
  @media (min-width: @tablet-width) {
    margin-top: 42px;
    margin-bottom: 41px;
  }
}

// tourists
.advantage__text--tourists-indent {
  @media (min-width: @tablet-width) {
    margin-top: 42px;
    margin-bottom: 41px;
  }
}

.advantage__description--tourists-width {
  width: 255px;

  @media (min-width: @tablet-width) {
    width: 150px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}
