.hotels-search {
  &__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    width: 261px;
  }

  &__button {
    color: #ffffff;
    width: 280px;
    padding: 15px 32px 18px 32px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    background-color: #81b3d2;
    border: none;
  }
}
