.hotels-search {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 31px;
  }
}

.hotels-search__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    margin: 30px auto 24px;
  }

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin: 58px auto 33px;
  }

  @media (min-width: @desktop-width) {
    margin: 56px auto 32px;
  }
}

.hotels-search__description {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 25px;
  color: #333333;

  @media (min-width: @tablet-width) {
    margin: 0 auto 40px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 43px;
  }
}

.hotels-search__description--space {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.hotels-search__button {
  display: block;
  text-decoration: none;
  margin: 0 auto 49px;
  padding-top: 15px;
  padding-bottom: 18px;
  color: #ffffff;
  min-width: 280px;
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  background-color: #81b3d2;
  border: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }

  @media (min-width: @tablet-width) {
    width: 458px;
    margin: 0 auto 57px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 65px;
  }
}

.hotels-search__map {
  @media (min-width: @tablet-width) {
    width: 768px;
    height: 350px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}
