.introduce {
  background-image: url("../img/mobile/index/introduce-section/introduce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.introduce--inner {
  background-position: bottom;
}

.introduce__img-wrapper--main {
  margin: 90px 20px 85px;
}

.introduce__img-wrapper--inner {
  margin: 52px 45px 85px;
}
