.main-nav {
  display: flex;
  justify-content: center;
}

.main-nav__header-logo {
  position: absolute;
}

.main-nav__button {
  position: relative;
  margin-left: auto;
  width: 23px;
  height: 22px;
  background-color: transparent;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-right: 20px;
  cursor: pointer;
  padding: 0;
  border: none;
  z-index: 11;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 0;
  display: block;
  background-color: #81b3d2;
  width: 23px;
  height: 3px;

  &::before {
    content: "";
    position: inherit;
    display: block;
    background-color: #81b3d2;
    width: 23px;
    height: 3px;
    margin-top: 9px;
  }

  &::after {
    content: "";
    position: inherit;
    display: block;
    background-color: #81b3d2;
    width: 23px;
    height: 3px;
    margin-top: 18px;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  content: "";
  position: absolute;
  top: 9px;
  display: block;
  background-color: #ffffff;
  width: 23px;
  height: 3px;
  z-index: 11;
  transform: rotate(-45deg);

  &::before {
    content: "";
    position: inherit;
    display: block;
    background-color: #ffffff;
    width: 23px;
    height: 3px;
    margin-top: 9px;
    z-index: 2;
    top: -9px;
    transform: rotate(90deg);
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;

  @media (max-width: @mobile-width-only) {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: #81b3d2;
    z-index: 10;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3vh;
      bottom: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      opacity: 0.2;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-self: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

.main-nav__list--left-list,
.main-nav__list--right-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__list--left-list {
  @media (min-width: @tablet-width) {
    margin-right: auto;
  }
}

.main-nav__list--right-list {
  @media (min-width: @tablet-width) {
    margin-left: auto;
  }
}

.main-nav__list-inserted {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 306px;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
  }
}

.main-nav__item {
  @media (max-width: @mobile-width-only) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }

  @media (min-width: @tablet-width) {
    width: 153px;
  }

  @media (min-width: @desktop-width) {
    width: 239px;
  }
}

.main-nav__item--first-border {
  @media (max-width: @mobile-width-only) {
    border-top: none;
  }
}

.main-nav__item--last-border {
  @media (max-width: @mobile-width-only) {
    border-bottom: none;
  }
}

.main-nav__list--closed {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav__item-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  background-color: #81b3d2;
  padding-top: 10px;
  padding-bottom: 5px;

  @media (max-width: @mobile-width-only) {
    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  @media (min-width: @tablet-width) {
    display: grid;
    color: #000000;
    background-color: transparent;
    font-size: 14px;
    line-height: 26px;
    padding: 16px 0;

    &:hover:not(.main-nav__item--current-link) {
      color: #81b3d2;
    }

    &:active:not(.main-nav__item--current-link) {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.main-nav__item--current-link {
  color: #766357;
}
