.page-footer {
  &__wrapper {
    display: flex;
    flex-direction: column;

    margin: 0 20px;
  }

  &__hashtag {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 39px;
    margin-bottom: 33px;
  }

  &__social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
  }

  &__social-item:not(:last-child) {
    margin-right: 6px;
  }

  &__social-item {
    display: block;
    width: 47px;
    height: 48px;
    background-color: #81b3d2;
  }

  &__social-link {
    display: block;
    text-align: center;
    padding-top: 35%;
    padding-bottom: 30%;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 29px;
  }

  &__copyright-text {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    margin: 0;
    width: 121px;
  }
}
