.photo-presentation__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  width: 280px;
  margin: 101px auto 30px;
  text-align: center;
}

.photo-presentation__subtitle {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 auto 57px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 440px;
  }
}
