.post {
  position: relative;
  margin-bottom: 44px;

  @media (min-width: @tablet-width) {
    .post__img-wrapper {
      width: 324px;
    }
  }

  @media (min-width: @desktop-width) {
    .post__img-wrapper {
      width: 400px;
    }
  }

  &:first-child {
    @media (min-width: @tablet-width) {
      .post__img-wrapper {
        width: 648px;
      }
    }

    @media (min-width: @desktop-width) {
      .post__img-wrapper {
        width: 1200px;
      }
    }
  }
}

.post:last-child {
  margin-bottom: 54px;
}

.post::after {
  content: "";
  position: absolute;
  background-color: #d6d6d6;
  width: 100%;
  left: 0;
  height: 1px;
  bottom: -21px;
}

.post__figure {
  margin: 0;
}

.post__img-wrapper {
  object-fit: cover;
  object-position: center;
  margin: 0;
  margin-bottom: 10px;
  width: 280px;
  height: 280px;
}

.post__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.post__photo-author {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 13px;
}

.post__like-icon {
  background-color: transparent;
  padding: 0;
  margin-right: 14px;
  border: none;
}

.post__like-quantity {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.post__likes {
  display: flex;
}
