.reason {
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
  }

  &__description {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    width: 235px;
  }
}
