.reason {
  @media (max-width: @mobile-width-only) {
    margin: 0;
    margin-top: 18px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 256px;

    &:nth-child(2) {
      order: 3;
    }
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.reason__image {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    left: 21px;
  }

  @media (min-width: @tablet-width) {
    margin: 60px 0 5px 0;
  }
}

.reason__image--width-mobile {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.reason__image--width-tablet {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.reason__text {
  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    padding-top: 9px;
  }
}

.reason__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    margin: 0 0 15px 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
    text-align: center;
  }
}

.reason__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 210px;

  @media (max-width: @mobile-width-only) {
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    text-align: center;
    width: 193px;
    margin-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    margin-bottom: 81px;
  }
}

.reason__description--gift-width {
  @media (min-width: @tablet-width) {
    width: 193px;
  }

  @media (min-width: @desktop-width) {
    width: 215px;
  }
}

.reason__description--gift-space {
  display: none;
  @media (min-width: @desktop-width) {
    display: block;
  }
}

.reason__description--burger-width {
  @media (min-width: @tablet-width) {
    width: 153px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
  }
}
