.video-presentation__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 33px auto 33px;
}

.video-presentation__subtitle {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 33px;

  @media (min-width: @tablet-width) {
    width: 440px;
  }
}

.video-presentation__video {
  position: relative;
  margin-bottom: 115px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 85px;
  }
}
