.video-presentation {
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin: 33px 20px 33px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 20px 33px;
  }

  &__video {
    position: relative;
  }

  &__promo-video {
    position: absolute;
  }
}
